platform/vendor/
platform/node_modules/
platform/npm-debug.log
platform/yarn-error.log

# Laravel 4 specific
platform/bootstrap/compiled.php
platform/app/storage/

# Laravel 5 & Lumen specific
platform/public/storage
platform/public/hot

# Laravel 5 & Lumen specific with changed public path
platform/public_html/storage
platform/public_html/hot

platform/storage/*.key
platform/.env
platform/Homestead.yaml
platform/Homestead.json
platform/.vagrant
platform/.phpunit.result.cache
